*{
    margin: 0;
    padding:  0;

}

.padre{
    border: 2px dashed black;
    width: 3px dashed green;
    display: flex;
    flex-direction: column-reverse;

    height: 600px;

}

.menu{
    display: flex;
    width: 400px;
        justify-content:space-between ;
}

img{
    width: 100px;
}
.cuadro{
    width: 100px;
    height: 100px;

}
.uno{
    background-color: gray;
}

.dos{
    background-color: palevioletred;
}

.tres{
    background-color: antiquewhite;
}



@media (min-width:  500px) {
    .padre{ 
       background-color: blueviolet;
      flex-direction: column;
      align-items: center;    
     height: auto;

}
 
    h3{
        display: none;
    }


.logo{
    flex-direction: column;
    align-items: center;
    }
.menu{
    flex-direction: column;
    align-items: center;
}




}
