.container{

margin-top: 20px;
}

.container{
margin-top: 20;
}

.uno{
    background-color: aqua;
    }

    .dos{
        background-color: bisque;
    }

    .ss{
        background-color: rgb(64, 169, 255);
    }

    .k{
        background-color: rgb(0, 152, 240);
    }

    .l{
        background-color: rgb(202, 168, 55);
    }
    .m{
        background-color: rgb(255, 64, 230);
    }
    .x{
        background-color: rgb(25, 255, 83);
    }