
 header{

    background-color: gray;
    margin-top: -20;
    padding-top: 1px;
}

a{
    background-color: greenyellow;
    margin-top: -20;
    padding-top: 1px;
}

h2{

    background-color: yellow;
    margin-top: -20;
    padding-top: 1px;
}

p{
     background-color: yellow;
     margin-top: -20;
     padding-top: 1px;
    }

h3{
    background-color: gray;
    margin-top: -20;
    padding-top: 1px;
}

p{

   background-color: gray;
   margin-top: -20;
   padding-top: 1px;
}