form {
    
    background-color: green;
    border:10px solid aqua;
    border-radius: 5px;
    padding: 50px;
    padding-left: 15px;
    width: 150px;


}

label{ 
    display: inline-block;
    width: 80px;
}


.campo{
width: 150px
}

input {
    
        border: red 2px groove;
        
      
}

h2{
    color: white; 
    padding-left: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h3{ 
    color: white;
}
#btn {
    background-color: white;
    border: none;
}